:root {
  --donut-border: solid 1px #f8fafc;
}
.simply-donut,
.simply-pie {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: var(--donut-border);
  box-shadow: 0px 2px 8px 5px rgba(99, 99, 99, 0.2);
}
.simply-donut::before {
  content: "";
  position: absolute;
  inset: var(--inset-size);
  background-color: var(--inset-color);
  border-radius: 50%;
  border: var(--donut-border);
}
