.simply-donut {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
.simply-donut::before {
  content: "";
  position: absolute;
  inset: var(--inset-size);
  background-color: var(--inset-color);
  border-radius: 50%;
}
